<ul class="nav navbar-nav">
    <li>@Html.ActionLink("MMProfile", "MMProfile", "MarketingManager")</li>
    <li>@Html.ActionLink("Statics", "ViewStatic", "MarketingManager")</li>
    <li>@Html.ActionLink("Exceptional Reports ", "ExceptionalReports", "MarketingManager")</li>
    <li>@Html.ActionLink("Selected Submissions", "SelectedCT", "MarketingManager")</li>
</ul>

