<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Marketing Coordinator", "MCProfile", "MarketingCoordinatorAction")</li>
    <li>@Html.ActionLink("Content Assign", "Index", "ContentAssign")</li>
    
</ul>



