
@{
    ViewBag.Title = "Term_And_Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Term_And_Conditions</h2>
<head runat="server">
    <title></title>
    <script type="text/javascript">
        function Navigate() {
            history.go(-1);
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <input action="action" type="button" value="Back" onclick="Navigate();" />
        </div>
    </form>
</body>